
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

*.csv
backend/ml/


venv/
env/
.venv/
]
*.pkl
*.joblib

# Dataset (IMPORTANT)
*.csv
data/
datasets/

# Logs
*.log


.env
*.env

node_modules/
dist/
build/


.vite/


npm-debug.log*
yarn-debug.log*
yarn-error.log*


.DS_Store
Thumbs.db

.vscode/
.idea/


.cache/